<!DOCTYPE html>
<html>
<head>
	<title>Brendan Gillies' Resume</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
	<link rel="shortcut icon" href="/stylesheets/favicon.ico">
</head>

<body>
	<div class='container'>
	<table>
			<tr>
				<div class='row'>
					<div class='col-9'>
						<h1 id='resume-name'></h1>
						<strong><p id="contact"></p> </strong>
					</div>
					<div class='col text-right'>
						<br>
						<a class='btn btn-outline-info btn-sm no-print' href="javascript:window.print()"><img src='/stylesheets/print.svg'></img></a>
						<button type="button" class="btn btn-outline-info btn-sm no-print" data-toggle="modal" data-target="#myModal"><img src='/stylesheets/pdf.svg'></img></button>
					</div>
				</div>
			</tr>
		</table>
	
		<h3>Employment</h3>
		<hr>		
		<table>
			<tr>
				<td>
					<strong><span id="position1"></span></strong><br>
					<span id="position1company"></span>
				</td>
				<td class='text-right'> 
					<span id="position1time"></span>
				</td>
			</tr>
			<tr>
				<td id="position1description" colspan='2'>
				</td>
			</tr>
			
			<tr>
				<td>
					<strong><span id="position2"></span></strong><br>
					<span id="position2company"></span>
				</td>
				<td class='text-right'> 
					<span id="position2time"></span>
				</td>
			</tr>
			<tr>
				<td id="position2description" colspan='2'>
				</td>
			</tr>
			
			<tr>
				<td>
					<strong><span id="position3"></span></strong><br>
					<span id="position3company"></span>
				</td>
				<td class='text-right'> 
					<span id="position3time"></span>
				</td>
			</tr>
			<tr>
				<td id="position3description" colspan='2'>
				</td>
			</tr>
			
			<tr>
				<td>
					<strong><span id="position4"></span></strong><br>
					<span id="position4company"></span>
				</td>
				<td class='text-right'> 
					<span id="position4time"></span>
				</td>
			</tr>
			<tr>
				<td id="position4description" colspan='2'>
				</td>
			</tr>
			
			<tr>
				<td>
					<strong><span id="position5"></span></strong><br>
					<span id="position5company"></span>
				</td>
				<td class='text-right'> 
					<span id="position5time"></span>
				</td>
			</tr>
		
			<tr>
				<td id="position5description" colspan='2'>
				</td>
			</tr>
		</table>
		
		<br>
		<h3>Education</h3>
		<hr>
		<table>
			<tr>
				<div class='row'>
					<div class='col'>
						<strong><span id="degree"></span></strong><br>
						<span id="university"></span>
					</div>
					<div class='col text-right'> 
						<span id="universitytime"></span>
					</div>
				</div>
			</tr>
		</table>
		
		<br>
		<h3>Software</h3>
		<hr> 
		<p><strong>Web: </strong><span id="webskills"></span><br>
		<strong>Enterprise Software: </strong><span id="enterprise"></span><br>
		<strong>Websites Built: </strong><span id="sites"></span></p>
		
		<h3>Recent Learning</h3>
		<hr>
		<div id="learning"></div>
		
		<h3>Scholarships & Distinctions</h3>
		<hr>
		<div id="distinctions"></div>
		
		<h3>Interests</h3>
		<hr>
		<div id="interests"></div>
	
		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog modal-lg">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header text-center">
		        <h4 class="modal-title">Original PDF (from jSON picture data)</h4>
		      </div>
		      <div class="embed-responsive embed-responsive-4by3 modal-body">
						<object class='embed-responsive-item noprint' id="image" type="application/pdf"></object>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div> <!--End container -->


<script>
	$(function(){
		$('#exampleModal').on('shown.bs.modal', function () {
		  $('#myInput').trigger('focus')
		})
		
		var ul1 = $('<ul>').appendTo('#position1description');
		var ul2 = $('<ul>').appendTo('#position2description');
		var ul3 = $('<ul>').appendTo('#position3description');
		var ul4 = $('<ul>').appendTo('#position4description');
		var ul5 = $('<ul>').appendTo('#position5description');
		
		var resume = $.getJSON( "resume.json", function( data ) {
		var data = data[0];
			
			
			$("#resume-name").html(data.name.first + " " + data.name.last + " <small>" + data.designation + "</small>");
			$("#contact").text( data.phone.formatted + " \u2022  " + data.email.email); 
			$("#position1").text(data.position1);
			$("#position1company").text(data.position1company);
			$("#position1time").text(data.position1time);   
			$.each(data.position1description, function() {
			  $.each(this, function (key, value) {
						var item= $(document.createElement('li')); 
						ul1.append(item.text(value)
						);
			   });
			});
			
			
			$("#position2").text(data.position2);
			$("#position2company").text(data.position2company);
			$("#position2time").text(data.position2time);   
			$.each(data.position2description, function() {
			  $.each(this, function (key, value) {
						var item= $(document.createElement('li')); 
						ul2.append(item.text(value)
						);
			   });
			});
			
			
			
			$("#position3").text(data.position3);
			$("#position3company").text(data.position3company);
			$("#position3time").text(data.position3time);   
			$.each(data.position3description, function() {
			  $.each(this, function (key, value) {
						var item= $(document.createElement('li')); 
						ul3.append(item.text(value)
						);
			   });
			});
			
			$("#position4").text(data.position4);
			$("#position4company").text(data.position4company);
			$("#position4time").text(data.position4time);   
			$.each(data.position4description, function() {
			  $.each(this, function (key, value) {
						var item= $(document.createElement('li')); 
						ul4.append(item.text(value)
						);
			   });
			});
			
			$("#position5").text(data.position5);
			$("#position5company").text(data.position5company);
			$("#position5time").text(data.position5time);   
			$.each(data.position4description, function() {
			  $.each(this, function (key, value) {
						var item= $(document.createElement('li')); 
						ul5.append(item.text(value)
						);
			   });
			});
			
			$("#degree").text(data.degree);
			$("#university").text(data.university);
			$("#universitytime").text(data.universitytime);
			
			$('#webskills').text(data.webskills);
			$('#enterprise').text(data.enterprisesoftware);
			$('#sites').text(data.websites1 + " " + data.websites2);
			console.log(data); 
			 
			var ul6 = $('<ul>').appendTo('#learning');
			$.each(data.recentlearning, function() {
			  $.each(this, function (key, value) {
						var item= $(document.createElement('li')); 
						ul6.append(item.text(value)
						);
			   });
			});
			
			var ul7 = $('<ul>').appendTo('#distinctions');
			$.each(data.distinctions, function() {
			  $.each(this, function (key, value) {
						var item= $(document.createElement('li')); 
						ul7.append(item.text(value)
						);
			   });
			});
			
			var ul8 = $('<ul>').appendTo('#interests');
			$.each(data.interests, function() {
			  $.each(this, function (key, value) {
						var item= $(document.createElement('li')); 
						ul8.append(item.text(value)
						);
			   });
			});
			
			console.log(data.picturedata);
			
			var picture_data = data.picturedata; 
			$("#image", {
			  "data": "data:application/pdf;base64," + data.picturedata,
				"type": "application/pdf",
			  // added `width` , `height` properties to `img` attributes
			  "width": "250px", "height": "250px"})
			.appendTo("#imge");
			
			$("#image").attr('data', "data:application/pdf;base64,"+picture_data);
		});
	});
</script>

</body>




</html>
