@media all {
	h1 { 
		color: #8e1f07;
	}
	
	hr { 
		margin-top: -8px;
		border: 1px solid #8e1f07;
	}
	small { 
		font-size: 0.4em;
	}
	
	object { 
		width: 100%; 
		height: 50vh;
	}
	.modal-dialog {
		height: 80%;
		width: 80%;
	}
	
	.modal-body {
	    min-height:50vh;
	}
	
	.container { 
		padding: 2em;
	}
	
	.btn-info {
		background: #8e1f07;
		border: #8e1f07;
	}
	.modal { 
		background:rgba(142, 31, 7, 0.8);
	}
	
	::selection { 
		 background: rgba(142, 31, 7, 0.2); /* WebKit/Blink Browsers */
	}
}
	
	
@media print {
  .no-print, .no-print *
    {
        display: none !important;
    }
}
